<!DOCTYPE html>
<html lang="en">
  <%- include("templates/head") %>
  <body style="background-color: rgb(58, 61, 70)">
    <header><%- include("templates/nav") %></header>
    <section class="d-flex justify-content-center flex-wrap">
      <% data.forEach(function(product){ %>
      <div class="card" style="width: 18rem; margin: 1.5rem">
        <img src="<%=product.thumbnail%>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%=product.title %></h5>
          <p class="card-text">$<%=product.price %></p>
          <a href="/api/cart/products" class="btn btn-primary"
            >Enviar al carrito</a
          >
        </div>
      </div>
      <% })%>
    </section>
  </body>
</html>
